import { React } from 'react';
<%_ map(App, ({ name }) => { _%>
import { <%= name %> } from './<%= name %>';
<%_ }); _%>

const App = () =>
	<div>
		<%_ map(App, ({ name }) => { _%>
		{ <%= name %>() }
		<%_ }); _%>
	</div>;

export default App;
